body {
    width: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body section div.wrapper {
    height: 710px;
    position: relative;
}
body section div.wrapper p.logo {
    font-size: 30px;
    font-family: CommercialScript BT;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: left;
    line-height: 60px;
    padding: 10px 0 0 13px;
    color:  rgb(242, 120, 140);
    top: -100px;
    opacity: 0.6;
}
#top {
    height: 710px;
    width: 100%;
    position: static;
    display: block;
    background-image: url(../img/top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(7, 7, 7, 0.6);
}
#top nav {
    padding-top: 20px;
    display: block;
    width: 100%;
}
#top nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    background-image: url(../img/sitelogo.png);
    background-repeat: no-repeat;
    background-position: left;
    line-height: 53px;
}
#top nav ul li {
    font-size: 1.5em;
    font-weight: 700;
    margin-right: 10px;
    padding-right: 10px;
}
#top nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px 5px;
}
#top nav ul li a:hover {
    background-color: pink;
    color: black;   
    opacity: 0.8;
}
#top div.note {
    width: 48%;
    line-height: 80px;
    margin-top: 25%;
    margin-left: 5%;
    color: white;
    font-size: 4.5em;
    font-weight: 800;
    opacity: 1 !important;
}
#top div.note p {
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    width: 61%;
}
#top form {
    bottom: 0;
    position: absolute;
}
#top form ul {
    padding: 0;
    list-style: none;
    display: flex;  
    margin-left: 1%; 
    margin-bottom: 0;
}
#top form ul li {
    font-size: 1.5em;
    font-weight: 700;
    position: relative;
}
#top form ul li.first {
    left: 310px;
    opacity: 1;
}
#top form ul li.first ul {
    position: absolute;
    display: none ;
    float: left;
    margin: 0;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    box-shadow: 5px 4px 25px -10px;
    left: -155px;
} 
#top form ul li.first ul li h1 {
    font-size: 15px;
    font-weight: 900 !important;
}
#top form ul li.sec {
    left: 160px;
    opacity: 1;
}
#top form ul li.sec ul {
    position: absolute;
    display: none ;
    float: left;
    margin: 0;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    box-shadow: 5px 4px 25px -10px;
    left: -81px;
}
#top form ul li.sec:hover ul {
    display: flex ;
}
#top form ul li.sec ul li {
    width: 120px;
    margin: auto;
    padding-left: 15px;
}
#top form ul li.sec ul li:last-child {
    padding-left: 0;
}
#top form ul li.sec ul li input {
    height: 35px;
    width: 80px;
    background-color: rgb(238, 133, 151);
    color: white;
    border: none;
    box-shadow: 3px 3px 20px -10px black;
}
#top form ul li.sec ul li.border {
    border-left: 1px solid rgb(238, 133, 151);
    border-right: 1px solid rgb(238, 133, 151);
}
#top form ul li.sec ul li p {
    font-size: 10px;
}
#top form ul li.sec ul li.addrs p {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 14px;
}
#top form ul li.sec ul li h1 {
    font-size: 15px;
    font-weight: 900 !important;
}
#top form ul li.thrd ul {
    position: absolute;
    display: none;
    float: left;
    margin: 0;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    box-shadow: 5px 4px 25px -10px;
}
#top form ul li.thrd:hover ul {
    display: flex ;
}
#top form ul li.thrd ul li {
    width: 120px;
    margin: auto;
    padding-left: 15px;
}
#top form ul li.thrd ul li:last-child {
    padding-left: 0;
}
#top form ul li.thrd ul li input {
    height: 35px;
    width: 80px;
    background-color: rgb(238, 133, 151);
    color: white;
    border: none;
    box-shadow: 3px 3px 20px -10px black;
}
#top form ul li.thrd ul li.border {
    border-left: 1px solid rgb(238, 133, 151);
    border-right: 1px solid rgb(238, 133, 151);
}
#top form ul li.thrd ul li p {
    font-size: 10px;
}
#top form ul li.thrd ul li.addrs p {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 14px;
}
#top form ul li.thrd ul li h1 {
    font-size: 15px;
    font-weight: 900 !important;
}
#top form ul li a {
    text-decoration: none;
    color: black;
    padding: 15px 20px 0;
    background-color: white;
}
#top form ul li a.bord {
    border-radius: 10px 10px 0 0;
}
#top form ul li a.sbord {
    border-radius: 0 10px 0 0;
}
#top form ul li a:hover {
    background-color: rgb(238, 133, 151);
    color: white;
}
section.mid {
    width: 80%;
    column-count: 2;
    column-gap: 35px;
    margin: 90px auto 0;
}
body section.mid div.fst div.why {
    height: 155px;
}
body section.mid div.fst div.why h1 {
    font-size: 50px;
    margin-top: 0;
}
body section.mid div.fst div.easy {
    height: 95px;
    display: flex;
    margin-bottom: 20px;
}
body section.mid div.fst div.easy img {
    padding: 12px;
    background-color: rgb(238, 133, 151);
    height: fit-content;
    margin: auto 0;
    border-radius: 5px;
    opacity: 0.7;
}
div.point {
    margin-left: 8px;
}
body section.mid div.fst div.easy div.point h1 {
    line-height: 15px;
    padding-top: 2px;
}
body section.mid div.fst div.invst {
    height: 95px;
    display: flex;
    margin-bottom: 20px;
}
body section.mid div.fst div.invst img {
    padding: 12px;
    background-color: rgb(238, 133, 151);
    height: fit-content;
    margin: auto 0;
    border-radius: 5px;
    opacity: 0.7;
}
body section.mid div.fst div.invst h1 {
    line-height: 15px;
    padding-top: 2px;
}
body section.mid div.fst div.trstd {
    height: 93px;
    display: flex;
    margin-bottom: 20px;
}
body section.mid div.fst div.trstd img {
    padding: 12px;
    background-color: rgb(238, 133, 151);
    height: fit-content;
    margin: auto 0;
    border-radius: 5px;
    opacity: 0.7;
}
body section.mid div.fst div.trstd h1 {
    line-height: 15px;
    padding-top: 2px;
}
body section.mid div.fst div.prpty {
    margin-top: 40px;
    height: 156px;
    width: 320px;
    margin-bottom: 20px;
}
body section.mid div.fst div.prpty p {
    padding-top: 5px;
    margin-bottom: 40px;
}
body section.mid div.fst div.prpty a {
    border: none;
    color: white;
    background-color: rgb(238, 133, 151);
    padding: 14px 16px;
    border-radius: 7px;
    text-decoration: none;
}
body section.mid div.fst div.lcns h1 {
    line-height: 15px;
}
body section.mid div.fst div.lcns {
    display: flex;
}
body section.mid div.fst div.lcns img {
    padding: 12px;
    background-color: rgb(238, 133, 151);
    height: fit-content;
    margin: auto 0;
    border-radius: 5px;
    opacity: 0.7;
}
section.mid div.house {
    width: 440px;
    height: 395px;
    border-radius: 15px;
    background-image: url(../img/house1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 15px;
}
section.mid div.house div.prctag {
    height: 80px;
    width: 130px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 365px;
}
section.mid div.house div.prctag p {
    text-align: center;
    font-size: 16px;
    width: 120px;
    margin: 16px auto;
}
section.mid div.house div.prctag h1 {
    line-height: 0;
    text-align: center;
    font-size: 35px;
    margin: 15px;
    font-weight: bold !important;
}
section.mid div.house div.rvwstag {
    height: 70px;
    width: 110px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    margin:210px 0 0 -50px;
}
section.mid div.house div.rvwstag h1 {
    line-height: 25px;
    padding: 15px 0 5px;
    font-size: 32px;
    text-align: center;
    margin: 0;
}
section.mid div.house div.rvwstag p {
    margin: 0 5px 5px;
    text-align: center;
    line-height: 0;
}
section.mid2 {
    width: 80%;
    margin: 90px auto 0;
}
section.mid2 h1 {
    font-size: 50px;
    margin-bottom: 0;
}
section.mid2 p {
    display: flex;
}
section.mid2 p a {
    margin:0 8px 0 auto;
    color: black;
}
section.mid2 div.prptywrap {
    column-count: 3;
    column-gap: 25px;
    margin: 50px 0;
}
section.mid2 div.prptywrap div.house2, div.house3, div.house4 {
    background-color: rgb(245, 215, 220);
    border-radius: 5px 5px 0 0;
}
section.mid2 div.prptywrap div.house2 a img {
    width: 100%;
    height: 240px;
    border-radius: 8px;
}
section.mid2 div.prptywrap div.house3 a img {
    width: 100%;
    height: 240px;
    border-radius: 8px;
}
section.mid2 div.prptywrap div.house4 a img {
    width: 100%;
    height: 240px;
    border-radius: 8px;
}
table {
    width: 100%;
}
td {
    padding-left: 5px;
    font-size: 17px;
} 
td.big {
    font-size: 20px;
    font-weight: bold;
}
section.mid3 {
    background-color: rgb(245, 215, 220);
    width: 100%;
    margin: 110px 0 130px;
}
section.mid3 h1 {
    text-align: center;
    font-size: 50px;
    margin: 60px 0;
    padding-top: 50px;
}
section.mid3 div.rvws {
    width: 80%;
    column-count: 3;
    margin: 0 auto;
}
section.mid3 div.rvws div {
    margin: 0;
    width: 300px;
    height: 230px;
    background-color: white;
    margin-bottom: 60px;
    border-radius: 10px;
    padding: 40px 5px 40px 40px;
}
section.mid3 ul {
    display: flex;
    padding: 0;
    margin: 0 0 40px 0;
}
ul li {
    list-style: none;
    padding: 0;
    margin: auto 0;
}
section.mid3 div.rvws div ul li.idntty {
    margin-left: 15px;
}
section.mid3 div.rvws div ul li.idntty h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
ul li.idntty p {
    margin: 5px 0;
}
ul li.dp img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
section.mid3 div.rvws div p {
    margin: 0;
}
section.mid4 {
    width: 100%;
    margin-bottom: 60px;
}
section.mid4 form {
    width: 80%;
    background-color: rgb(252, 241, 243);
    margin: 0 auto;
    text-align: center;
    padding: 40px 0 50px;
}
section.mid4 form h1 {
    font-size: 50px;
    margin-bottom: 25px;
}
section.mid4 form p {
    margin-bottom: 25px;
}
section.mid4 form input.txtbx {
    height: 45px;
    width: 220px;
    border: none;
    padding-left: 15px;
    border-radius: 3px;
}
section.mid4 form input.sbmt {
    height: 45px;
    border: none;
    width: 100px;
    background-color: rgb(238, 133, 151);
    border-radius: 5px;
    color: white;
}
footer  {
    width: 80%;
    margin: 0 auto 50px;
}
footer ul.ftrlnks {
    display: flex;
}
footer ul.ftrlnks ul {
    margin-bottom: 50px;
}
footer ul.ftrlnks ul.lst1 {
    flex-grow: 2;
}
footer ul.ftrlnks ul.lst2 {
    flex-grow: 1;
}
footer ul.ftrlnks ul.lst3 {
    flex-grow: 1;
}
footer ul.ftrlnks ul.lst4 {
    flex-grow: 1;
}
footer ul.ftrlnks ul.lst5 {
    flex-grow: 1;
}
ul.lst1 li.ctgry {
    font-size: 30px;
    font-family: CommercialScript BT;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: left;
    line-height: 60px;
    padding: 10px 0 0 13px;
    color:  rgb(242, 120, 140);
}
footer ul.ftrlnks ul.lst1 li.us p {
    width: 240px;
}
footer ul.ftrlnks ul li {
    margin-bottom: 18px;
}
footer ul.ftrlnks ul li.ttl h1 {
    font-size: 18px;
    line-height: 43px;
}
footer ul.ftrlnks ul li a {
    text-decoration: none;
    color: rgb(148, 148, 148);
}
footer p {
    display: flex;
}
footer p a {
    margin-left: auto;
    text-decoration: none;
    color: rgb(148, 148, 148);
}